* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v11_198 {
    width: 985px;
    height: 424px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_199 {
    width: 121px;
    height: 336px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 88px;
    left: 0px;
    overflow: hidden;
  }
  .v11_200 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 0px;
    overflow: hidden;
  }
  .v11_201 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_202 {
    width: 104px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_203 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 0px;
    overflow: hidden;
  }
  .v11_204 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_205 {
    width: 104px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_206 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 168px;
    left: 0px;
    overflow: hidden;
  }
  .v11_207 {
    width: 121px;
    height: 56px;
    background: rgba(239,247,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_208 {
    width: 104px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_209 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 0px;
    overflow: hidden;
  }
  .v11_210 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_211 {
    width: 104px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_212 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 0px;
    overflow: hidden;
  }
  .v11_213 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_214 {
    width: 104px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_215 {
    width: 121px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_216 {
    width: 121px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_217 {
    width: 104px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_218 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_219 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 121px;
    overflow: hidden;
  }
  .v11_220 {
    width: 158px;
    height: 336px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 88px;
    left: 121px;
    overflow: hidden;
  }
  .v11_221 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 0px;
    overflow: hidden;
  }
  .v11_222 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v11_224 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 0px;
    overflow: hidden;
  }
  .v11_225 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v11_227 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 168px;
    left: 0px;
    overflow: hidden;
  }
  .v11_228 {
    width: 159px;
    height: 56px;
    background: rgba(239,247,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v11_230 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 0px;
    overflow: hidden;
  }
  .v11_231 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v11_233 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 0px;
    overflow: hidden;
  }
  .v11_234 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v11_236 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_237 {
    width: 159px;
    height: 56px;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_238 {
    width: 148px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 1px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_239 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_240 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 159px;
    overflow: hidden;
  }
  .v11_241 {
    width: 190px;
    height: 336px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 88px;
    left: 279px;
    overflow: hidden;
  }
  .v11_242 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 0px;
    overflow: hidden;
  }
  .v11_243 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_244 {
    width: 164px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_245 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 0px;
    overflow: hidden;
  }
  .v11_246 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_247 {
    width: 164px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_248 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 168px;
    left: 0px;
    overflow: hidden;
  }
  .v11_249 {
    width: 190px;
    height: 56px;
    background: rgba(239,247,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_250 {
    width: 164px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_251 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 0px;
    overflow: hidden;
  }
  .v11_252 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_253 {
    width: 164px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_254 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 0px;
    overflow: hidden;
  }
  .v11_255 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_256 {
    width: 164px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_257 {
    width: 190px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_258 {
    width: 190px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_259 {
    width: 164px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 13px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_260 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_261 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 190px;
    overflow: hidden;
  }
  .v11_262 {
    width: 196px;
    height: 336px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 88px;
    left: 470px;
    overflow: hidden;
  }
  .v11_263 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 0px;
    overflow: hidden;
  }
  .v11_264 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_265 {
    width: 169px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 13px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_266 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 0px;
    overflow: hidden;
  }
  .v11_267 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_268 {
    width: 169px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 13px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_269 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 168px;
    left: 0px;
    overflow: hidden;
  }
  .v11_270 {
    width: 196px;
    height: 56px;
    background: rgba(239,247,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_271 {
    width: 169px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 13px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_272 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 0px;
    overflow: hidden;
  }
  .v11_273 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_274 {
    width: 169px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 13px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_275 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 0px;
    overflow: hidden;
  }
  .v11_276 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_277 {
    width: 169px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 13px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_278 {
    width: 196px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_279 {
    width: 196px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_280 {
    width: 169px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 13px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_281 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_282 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 196px;
    overflow: hidden;
  }
  .v11_283 {
    width: 158px;
    height: 336px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 88px;
    left: 666px;
    overflow: hidden;
  }
  .v11_284 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 0px;
    overflow: hidden;
  }
  .v11_285 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_286 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_287 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 0px;
    overflow: hidden;
  }
  .v11_288 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_289 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_290 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 168px;
    left: 0px;
    overflow: hidden;
  }
  .v11_291 {
    width: 159px;
    height: 56px;
    background: rgba(239,247,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_292 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_293 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 0px;
    overflow: hidden;
  }
  .v11_294 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_295 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_296 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 0px;
    overflow: hidden;
  }
  .v11_297 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_298 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_299 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_300 {
    width: 159px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_301 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_302 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_303 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 159px;
    overflow: hidden;
  }
  .v11_304 {
    width: 158px;
    height: 336px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 88px;
    left: 825px;
    overflow: hidden;
  }
  .v11_305 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 280px;
    left: 0px;
    overflow: hidden;
  }
  .v11_306 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_307 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_308 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 0px;
    overflow: hidden;
  }
  .v11_309 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_310 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_311 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 168px;
    left: 0px;
    overflow: hidden;
  }
  .v11_312 {
    width: 159px;
    height: 56px;
    background: rgba(239,247,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_313 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_314 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 0px;
    overflow: hidden;
  }
  .v11_315 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_316 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_317 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 0px;
    overflow: hidden;
  }
  .v11_318 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_319 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Encode Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_320 {
    width: 159px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_321 {
    width: 159px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_322 {
    width: 137px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v11_323 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_324 {
    width: 1px;
    height: 336px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 159px;
    overflow: hidden;
  }
  .v11_325 {
    width: 984px;
    height: 40px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 0px;
    overflow: hidden;
  }
  .v11_326 {
    width: 393px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 9px;
    left: 0px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v11_341 {
    width: 85px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 568px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v11_342 {
    width: 85px;
    height: 40px;
    background: rgba(44,122,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v11_343 {
    width: 53px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 12px;
    left: 16px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v11_344 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    overflow: hidden;
  }
  .v11_345 {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_346 {
    width: 16px;
    height: 1px;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 4px;
    border: 2px solid rgba(51,51,51,1);
  }
  .v11_347 {
    width: 6px;
    height: 12px;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 4px;
    border: 2px solid rgba(51,51,51,1);
  }
  .v11_348 {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(51,51,51,1);
  }
  .v7_34 {
    width: 121px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 433px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v7_35 {
    width: 121px;
    height: 40px;
    background: rgba(44,122,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v7_36 {
    width: 89px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 12px;
    left: 16px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v7_37 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    overflow: hidden;
  }
  .v7_38 {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v7_39 {
    width: 16px;
    height: 1px;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 4px;
    border: 2px solid rgba(51,51,51,1);
  }
  .v7_40 {
    width: 6px;
    height: 12px;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 4px;
    border: 2px solid rgba(51,51,51,1);
  }
  .v7_41 {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(51,51,51,1);
  }
  .v6_33 {
    width: 194px;
    height: 42px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 790px;
    overflow: hidden;
  }
  .v6_34 {
    width: 194px;
    height: 42px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v6_35 {
    width: 162px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 13px;
    left: 16px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v6_36 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 8px;
    overflow: hidden;
  }
  .v6_37 {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v6_38 {
    width: 16px;
    height: 1px;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 4px;
    border: 2px solid rgba(51,51,51,1);
  }
  .v6_39 {
    width: 6px;
    height: 12px;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 4px;
    border: 2px solid rgba(51,51,51,1);
  }
  .v6_40 {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(51,51,51,1);
  }